.line-text::after {
  content: "";
  height: 2px;
  display: flex;
  width: 70px;
  margin: 0.5em auto;
  background-color: black;
  transform: skew(120deg);
}

.line-decoration {
  height: 1px;
  display: flex;
  width: 80%;
  margin: 0.5em auto;
  background-color: black;
  transform: skew(120deg);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Ubuntu", sans-serif;
}

header h1 {
  font-size: 3.2rem;
  font-weight: bold;
  margin-top: 0.4em;
}
header .hero-image {
  position: relative;
  height: 100vh;
  top: 0;
  background-image: url("../img/tlo-palma.png");
  background-position: center;
  background-size: cover;
  z-index: 0;
}
header .hero-image__text {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 100%;
  color: rgb(33, 32, 38);
  text-transform: uppercase;
  z-index: 5;
  padding: 10px;
  text-align: center;
  letter-spacing: 5px;
}
header .hero-image__text .main-p {
  font-size: 2rem;
}
header .hero-image__text .under-p {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0;
  padding: 0.7em;
  background-color: rgba(0, 0, 0, 0.45);
  color: rgb(245, 245, 245);
  font-size: 3rem;
  font-weight: bold;
}
header .hero-image .kirp {
  position: absolute;
  right: 3.5em;
  margin-top: 25em;
  width: 70px;
  z-index: 5;
}

.navbar {
  margin: 0 auto;
  --bs-navbar-padding-y: 0;
  width: 100%;
  position: absolute;
  top: 150px;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.5);
  border-top: 1px solid white;
}
.navbar .navbar-collapse {
  flex-grow: 0;
}
.navbar .container {
  display: flex;
  flex-direction: row-reverse;
}
.navbar .navbar-nav .nav-link {
  color: rgb(33, 32, 38);
  font-size: 1.5rem;
  padding: 1.3em;
}
.navbar .navbar-nav .nav-link i {
  padding-right: 0.5em;
}
.navbar .navbar-nav .nav-link:hover {
  color: rgb(90, 90, 90);
}
.navbar .navbar-nav .active {
  color: rgb(40, 40, 40);
}
.navbar .navcont {
  display: flex;
  flex-direction: row;
}
.navbar .navcont .nav-link {
  color: rgb(33, 32, 38);
  font-size: 1.5rem;
  padding: 0.5em 1.2em;
  margin: 0;
}
.navbar .navcont .nav-link i {
  padding-right: 0.5em;
}
.navbar .navcont .nav-link2:hover {
  color: rgb(90, 90, 90);
}
.navbar .navbar-toggler {
  border: none;
  color: rgb(33, 32, 38);
  padding: 1.2em;
  margin: 0 1em;
  font-size: 1.8rem;
}

.law {
  text-align: center;
}
.law__text {
  padding: 10em 0;
  margin: 0 auto;
  width: 85%;
}
.law__text-title {
  text-transform: uppercase;
  font-size: 3.2rem;
  font-weight: bold;
  letter-spacing: 3px;
}
.law__text-describe {
  margin-top: 2em;
  font-size: 1.4rem;
}

.offer {
  position: relative;
  top: 0;
  background-image: url("../img/lawbg-small.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 0;
}
.offer__text {
  padding: 7em 0;
  text-align: center;
}
.offer__text-title {
  text-transform: uppercase;
  font-size: 3.2rem;
  font-weight: bold;
  letter-spacing: 3px;
}
.offer__bg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: -2;
}
.offer__box {
  padding-top: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.offer__box-item {
  width: 90%;
  margin: 3em;
  padding: 1em;
  box-shadow: 3px -3px 6px rgb(72, 72, 72);
  background-color: rgb(246, 246, 246);
}
.offer__box-item h3 {
  text-align: center;
  font-size: 1.8rem;
  text-transform: uppercase;
}
.offer__box-item h3 span {
  font-weight: bold;
}
.offer__box-item ul {
  margin: 1em;
  padding: 1em;
}
.offer__box-item ul p {
  font-size: 1.2rem;
  text-align: left;
  padding: 0.5em;
  margin: 0.5em;
}

.team {
  margin: 0 auto;
  padding: 7em 0;
}
.team__text {
  text-align: center;
}
.team__text-title {
  text-transform: uppercase;
  font-size: 3.2rem;
  font-weight: bold;
  letter-spacing: 3px;
}
.team__box {
  display: flex;
  flex-direction: column;
  margin-bottom: 3em;
}
.team__box-pic {
  width: 300px;
  height: 300px;
  background-image: url("/img/mainfoto.png");
  background-size: cover;
  margin: 0.5em;
}
.team__box-text {
  margin: 2em;
  width: 100%;
}
.team__box-text h3 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.8rem;
  margin-bottom: 0.5em;
}
.team__box-text h4 {
  font-size: 1.4em;
  margin-bottom: 2em;
  font-style: italic;
}
.team__box-text p {
  font-size: 1.2em;
}
.team__box-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3em;
  padding: 1em;
}

.map iframe {
  width: 100%;
}

footer p {
  padding: 0.5em;
}

@media (min-width: 768px) {
  header h1 {
    font-size: 3.8rem;
    margin-top: 1em;
  }
  header .hero-image {
    height: 1100px;
    top: 0;
  }
  header .hero-image__text {
    padding: 10px;
    letter-spacing: 3px;
  }
  header .hero-image__text .main-p {
    font-size: 2rem;
  }
  header .hero-image__text .under-p {
    padding: 1em;
    font-size: 3.8rem;
  }
  header .hero-image .kirp {
    margin-top: 5em;
    left: 7em;
    width: 70px;
  }
  .navbar {
    width: 90%;
    --bs-navbar-padding-y: 0.5;
    top: 210px;
    left: 50%;
    transform: translate(-50%);
    border-radius: 5px;
  }
  .navbar .navbar-nav .nav-link {
    color: rgb(33, 32, 38);
  }
  .navbar .navbar-toggler {
    color: rgb(33, 32, 38);
    padding: 1.4em;
    margin: 0 1em;
    font-size: 1.8rem;
  }
  .law__text {
    padding: 8em 0;
    width: 80%;
  }
  .law__text-title {
    font-size: 3.6rem;
  }
  .law__text-describe {
    margin-top: 2em;
    font-size: 1.4rem;
  }
  .offer {
    top: 0;
    background-image: url("../img/lawbg.jpg");
  }
  .offer__text {
    padding: 8em 0;
  }
  .offer__text-title {
    font-size: 3.6rem;
  }
  .offer__box {
    padding-top: 2em;
  }
  .offer__box-item {
    width: 70%;
    margin: 3em;
    padding: 1em;
  }
  .offer__box-item h3 {
    font-size: 2rem;
  }
  .offer__box-item ul p {
    font-size: 1.4rem;
  }
  .team {
    padding: 8em 0;
  }
  .team__text-title {
    font-size: 3.6rem;
  }
  .team__box-pic {
    width: 400px;
    height: 400px;
  }
  .team__box-text h3 {
    font-size: 2rem;
    margin-bottom: 0.5em;
  }
  .team__box-text h4 {
    font-size: 1.4em;
    margin-bottom: 2em;
  }
  .team__box-text p {
    font-size: 1.4em;
    margin: 2em 3em;
  }
}
@media (min-width: 1001px) {
  header .hero-image .kirp {
    left: 10em;
  }
  .navbar {
    width: 75%;
  }
  .navbar .navbar-nav .nav-link {
    font-size: 1.5rem;
    padding: 0.5em 1.19em;
  }
  .navbar .navcont .nav-link {
    font-size: 1.5rem;
    padding: 0.5em 1.19em;
  }
}
@media (min-width: 992px) {
  header h1 {
    font-size: 5rem;
    margin-top: 0.4em;
  }
  header .hero-image {
    height: 1100px;
    top: 0;
  }
  header .hero-image__text {
    padding: 10px;
    letter-spacing: 5px;
  }
  header .hero-image__text .main-p {
    font-size: 2.8rem;
  }
  header .hero-image__text .under-p {
    padding: 1em;
    font-size: 5rem;
  }
  header .hero-image .kirp {
    margin-top: 5em;
    width: 90px;
  }
  .navbar {
    width: 80%;
    top: 210px;
    left: 50%;
    transform: translate(-50%);
    border-bottom: 1px solid white;
  }
  .navbar .navbar-nav .nav-link {
    color: rgb(33, 32, 38);
    font-size: 1.5rem;
    padding: 0.5em 1.2em;
  }
  .navbar .navbar-toggler {
    color: rgb(33, 32, 38);
    padding: 1.4em;
    margin: 0 1em;
    font-size: 1.8rem;
  }
  .law__text {
    padding: 10em 0;
    width: 70%;
  }
  .law__text-title {
    font-size: 4.2rem;
  }
  .law__text-describe {
    margin-top: 2em;
    font-size: 1.8rem;
  }
  .offer {
    top: 0;
    background-image: url("../img/lawbg.jpg");
  }
  .offer__text {
    padding: 10em 0;
  }
  .offer__text-title {
    font-size: 4.2rem;
  }
  .offer__box {
    padding-top: 3em;
    flex-direction: row;
    display: flex;
  }
  .offer__box-item {
    width: 40%;
    margin: 3em;
    padding: 1em;
  }
  .offer__box-item h3 {
    font-size: 2.4rem;
  }
  .offer__box-item ul p {
    font-size: 1.8rem;
  }
  .team {
    padding: 10em 0;
  }
  .team__text-title {
    padding-bottom: 0.5em;
    font-size: 4.2rem;
  }
  .team__box-pic {
    width: 550px;
    height: 550px;
    background-image: url("/img/mainfoto.png");
    margin: 0.5em;
  }
  .team__box-text {
    margin: 2em;
    width: 40%;
  }
  .team__box-text h3 {
    font-size: 2.8rem;
    margin-bottom: 0.5em;
  }
  .team__box-text h4 {
    font-size: 1.8em;
    margin-bottom: 2em;
  }
  .team__box-text p {
    font-size: 1.4em;
  }
  .team__box-item {
    flex-direction: row;
    margin: 3em;
    padding: 1em;
  }
}
@media (min-width: 1173px) {
  header .hero-image .kirp {
    left: 18em;
  }
  .navbar {
    width: 70%;
  }
  .navbar .navbar-nav .nav-link {
    font-size: 1.6rem;
    padding: 0.5em 1.28em;
  }
  .navbar .navcont .nav-link {
    font-size: 1.6rem;
    padding: 0.5em 1.28em;
  }
}
@media (min-width: 1338px) {
  header .hero-image .kirp {
    left: 18em;
  }
  .navbar {
    width: 73%;
  }
  .navbar .navbar-nav .nav-link {
    font-size: 1.8rem;
    padding: 0.5em 1.5em;
  }
  .navbar .navcont .nav-link {
    font-size: 1.8rem;
    padding: 0.5em 1.5em;
  }
}/*# sourceMappingURL=style.css.map */