@media (min-width: 1001px) {
	header {
		.hero-image {
			.kirp {
				left: 10em;
			}
		}
	}

	.navbar {
		width: 75%;
		.navbar-nav {
			.nav-link {
				font-size: 1.5rem;
				padding: 0.5em 1.19em;
			}
		}
		.navcont {
			.nav-link {
				font-size: 1.5rem;
				padding: 0.5em 1.19em;
			}
		}
	}
}

@media (min-width: 992px) {
	header {
		h1 {
			font-size: 5rem;
			margin-top: 0.4em;
		}

		.hero-image {
			height: 1100px;
			top: 0;
			&__text {
				padding: 10px;
				letter-spacing: 5px;

				.main-p {
					font-size: 2.8rem;
				}

				.under-p {
					padding: 1em;
					font-size: 5rem;
				}
			}
			.kirp {
				margin-top: 5em;
				width: 90px;
			}
		}
	}

	.navbar {
		width: 80%;
		top: 210px;
		left: 50%;
		transform: translate(-50%);
		border-bottom: 1px solid white;
		.navbar-nav {
			.nav-link {
				color: colors.$font-color;
				font-size: 1.5rem;
				padding: 0.5em 1.2em;
			}
		}
		.navbar-toggler {
			color: colors.$font-color;
			padding: 1.4em;
			margin: 0 1em;
			font-size: 1.8rem;
		}
	}

	.law {
		&__text {
			margin: 10em auto;
			width: 70%;

			&-title {
				font-size: 4.2rem;
			}

			&-describe {
				margin-top: 2em;
				font-size: 1.8rem;
			}
		}
	}

	.offer {
		top: 0;
		background-image: url('../img/lawbg.jpg');

		&__text {
			padding: 10em 0;

			&-title {
				font-size: 4.2rem;
			}
		}

		&__box {
			padding-top: 3em;
			flex-direction: row;
			display: flex;
			&-item {
				width: 40%;
				margin: 3em;
				padding: 1em;
				h3 {
					font-size: 2.4rem;
				}

				ul {
					p {
						font-size: 1.8rem;
					}
				}
			}
		}
	}

	.team {
		margin: 10em auto;
		&__text {
			&-title {
				padding-bottom: 0.5em;
				font-size: 4.2rem;
			}
		}

		&__box {
			&-pic {
				width: 550px;
				height: 550px;
				background-image: url('/img/mainfoto.png');
				margin: 0.5em;
			}

			&-text {
				margin: 2em;
				width: 40%;

				h3 {
					font-size: 2.8rem;
					margin-bottom: 0.5em;
				}

				h4 {
					font-size: 1.8em;
					margin-bottom: 2em;
				}

				p {
					font-size: 1.4em;
				}
			}

			&-item {
				flex-direction: row;
				margin-top: 3em;
				padding: 1em;
			}
		}
	}
}

@media (min-width: 1173px) {
	header {
		.hero-image {
			.kirp {
				left: 18em;
			}
		}
	}

	.navbar {
		width: 70%;
		.navbar-nav {
			.nav-link {
				font-size: 1.6rem;
				padding: 0.5em 1.28em;
			}
		}

		.navcont {
			.nav-link {
				font-size: 1.6rem;
				padding: 0.5em 1.28em;
			}
		}
	}
}

@media (min-width: 1338px) {
	header {
		.hero-image {
			.kirp {
				left: 18em;
			}
		}
	}

	.navbar {
		width: 73%;
		.navbar-nav {
			.nav-link {
				font-size: 1.8rem;
				padding: 0.5em 1.5em;
			}
		}

		.navcont {
			.nav-link {
				font-size: 1.8rem;
				padding: 0.5em 1.5em;
			}
		}
	}
}
