@media (min-width: 1001px) {
	header {
		.hero-image {
			.kirp {
				left: 10em;
			}
		}
	}

	.navbar {
		width: 75%;
		.navbar-nav {
			.nav-link {
				font-size: 1.5rem;
				padding: 0.5em 1.18em;
			}
		}
		.navcont {
			.nav-link {
				font-size: 1.5rem;
				padding: 0.5em 1.2em;
			}
		}
	}
}

@media (min-width: 1173px) {
	header {
		.hero-image {
			.kirp {
				left: 18em;
			}
		}
	}

	.navbar {
		width: 70%;
		.navbar-nav {
			.nav-link {
				font-size: 1.6rem;
				padding: 0.5em 1.25em;
			}
		}

		.navcont {
			.nav-link {
				font-size: 1.6rem;
				padding: 0.5em 1.3em;
			}
		}
	}
}

@media (min-width: 1338px) {
	header {
		.hero-image {
			.kirp {
				left: 18em;
			}
		}
	}

	.navbar {
		width: 73%;
		.navbar-nav {
			.nav-link {
				font-size: 1.8rem;
				padding: 0.5em 1.5em;
			}
		}

		.navcont {
			.nav-link {
				font-size: 1.8rem;
				padding: 0.5em 1.5em;
			}
		}
	}
}

@media (min-width: 992px) {
	header {
		h1 {
			font-size: 5rem;
			margin-top: 0.4em;
		}

		.hero-image {
			height: 1100px;
			top: 0;
			&__text {
				padding: 10px;
				letter-spacing: 5px;

				.main-p {
					font-size: 2.8rem;
				}

				.under-p {
					padding: 1em;
					font-size: 5rem;
				}
			}
			.kirp {
				margin-top: 5em;
				width: 90px;
			}
		}
	}

	.navbar {
		width: 80%;
	    top: 210px;
	    left: 50%;
	    transform: translate(-50%);
	    border-bottom: 1px solid white;
        .navbar-nav {
            .nav-link {
                color: colors.$font-color;
                font-size: 1.5rem;
                padding: 0.5em 1.2em;
    
            }
        }
	    .navbar-toggler {
	        color: colors.$font-color;
	        padding: 1.4em;
	        margin: 0 1em;
	        font-size: 1.8rem;
	    }
	}
}
