@media (min-width: 768px) {
	header {
		h1 {
			font-size: 3.8rem;
			margin-top: 1em;
		}

		.hero-image {
			height: 1100px;
			top: 0;
			&__text {
				padding: 10px;
				letter-spacing: 3px;

				.main-p {
					font-size: 2rem;
				}

				.under-p {
					padding: 1em;
					font-size: 3.8rem;
				}
			}
			.kirp {
				margin-top: 5em;
				left: 7em;
				width: 70px;
			}
		}
	}

	.navbar {
		width: 90%;
		--bs-navbar-padding-y: 0.5;
		top: 210px;
		left: 50%;
		transform: translate(-50%);
		border-radius: 5px;
		.navbar-nav {
			.nav-link {
				color: colors.$font-color;
			}
		}
		.navbar-toggler {
			color: colors.$font-color;
			padding: 1.4em;
			margin: 0 1em;
			font-size: 1.8rem;
		}
	}

	.law {
		&__text {
			padding: 8em 0;
			width: 80%;

			&-title {
				font-size: 3.6rem;
			}

			&-describe {
				margin-top: 2em;
				font-size: 1.4rem;
			}
		}
	}

	.offer {
		top: 0;
		background-image: url('../img/lawbg.jpg');

		&__text {
			padding: 8em 0;

			&-title {
				font-size: 3.6rem;
			}
		}

		&__box {
			padding-top: 2em;
			&-item {
				width: 70%;
				margin: 3em;
				padding: 1em;
				h3 {
					font-size: 2rem;
				}

				ul {
					p {
						font-size: 1.4rem;
					}
				}
			}
		}
	}

	.team {
		padding: 8em 0;
		&__text {
			&-title {
				font-size: 3.6rem;
			}
		}

		&__box {
			&-pic {
				width: 400px;
				height: 400px;
			}

			&-text {
			

				h3 {
					font-size: 2rem;
					margin-bottom: 0.5em;
				}

				h4 {
					font-size: 1.4em;
					margin-bottom: 2em;
				}

				p {
					font-size: 1.4em;
					margin: 2em 3em;
				}
			}

		}
	}
}
