@use './colors';
@import './components';
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-size: 62.5%;
	scroll-padding-top: 56px;
}

body {
	font-family: 'Ubuntu', sans-serif;
}

header {
	h1 {
		font-size: 3.2rem;
		font-weight: bold;
		margin-top: 0.4em;
	}

	.hero-image {
		position: relative;
		height: 100vh;
		top: 0;
		background-image: url('../img/tlo-palma.png');
		background-position: center;
		background-size: cover;
		z-index: 0;
		&__text {
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: start;
			align-items: center;
			height: 100%;
			color: colors.$font-color;
			text-transform: uppercase;
			z-index: 5;
			padding: 10px;
			text-align: center;
			letter-spacing: 5px;

			.main-p {
				font-size: 2rem;
			}

			.under-p {
				position: absolute;
				bottom: 0;
				width: 100%;
				margin: 0;
				padding: 0.7em;
				background-color: rgba(0, 0, 0, 0.45);
				color: white;
				font-size: 3rem;
				font-weight: bold;
			}
		}
		.kirp {
			position: absolute;
			right: 3.5em;
			margin-top: 25em;
			width: 70px;
			z-index: 5;
		}
	}
}

.navbar {
	margin: 0 auto;
	--bs-navbar-padding-y: 0;
	width: 100%;
	position: absolute;
	top: 150px;

	z-index: 1;
	background-color: rgba(255, 255, 255, 0.5);
	border-top: 1px solid white;

	.navbar-collapse {
		flex-grow: 0;
	}

	.container {
		display: flex;
		flex-direction: row-reverse;
	}

	.navbar-nav {
		.nav-link {
			color: colors.$font-color;
			font-size: 1.5rem;
			padding: 1.3em;

			i {
				padding-right: 0.5em;
			}
		}

		.nav-link:hover {
			color: rgb(90, 90, 90);
		}
		.active {
			color: colors.$main-color;
		}
	}

	.navcont {
		display: flex;
		flex-direction: row;
		.nav-link {
			color: colors.$font-color;
			font-size: 1.5rem;
			padding: 0.5em 1.2em;
			margin: 0;
			i {
				padding-right: 0.5em;
			}
		}
		.nav-link2:hover {
			color: rgb(90, 90, 90);
		}
	}

	.navbar-toggler {
		border: none;
		color: colors.$font-color;
		padding: 1.2em;
		margin: 0 1em;
		font-size: 1.8rem;
	}
}

.law {
	text-align: center;

	&__text {
		margin: 7em auto;
		text-align: center;
		width: 85%;

		&-title {
			text-transform: uppercase;
			font-size: 3.2rem;
			font-weight: bold;
			letter-spacing: 3px;
		}

		&-describe {
			margin-top: 2em;
			font-size: 1.4rem;
		}
	}
}

.offer {
	position: relative;
	top: 0;
	background-image: url('../img/lawbg-small.jpg');
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	z-index: 0;

	&__text {
		padding: 7em 0;
		text-align: center;

		&-title {
			text-transform: uppercase;
			font-size: 3.2rem;
			font-weight: bold;
			letter-spacing: 3px;
		}
	}

	&__bg {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(255, 255, 255, 0.7);
		z-index: -2;
	}

	&__box {
		padding-top: 3em;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		&-item {
			width: 90%;
			margin: 3em;
			padding: 1em;
			box-shadow: 3px -3px 6px rgb(72, 72, 72);
			background-color: #ffffff7f;

			h3 {
				text-align: center;
				font-size: 1.8rem;
				text-transform: uppercase;
				span {
					font-weight: bold;
				}
			}

			ul {
				margin: 1em;
				padding: 1em;
				p {
					font-size: 1.2rem;
					text-align: left;
					padding: 0.5em;
					margin: 0.5em;
				}
			}
		}

		// &-individual {
		// }

		// &-business {
		// }
	}
}

.map {
	padding-top: 5em;
	iframe {
		width: 100%;
	}
}

footer {
	p {
		padding: 0.5em;
	}
}

@import './small';
@import './large';
