@use './colors';
@import './components';
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-size: 62.5%;
	scroll-padding-top: 61.2px;
}

body {
	font-family: 'Ubuntu', sans-serif;
}

header {
	h1 {
		font-size: 3.2rem;
		font-weight: bold;
		margin-top: 0.4em;
	}

	.hero-image {
		position: relative;
		height: 100vh;
		top: 0;
		background-image: url('../img/tlo-palma.png');
		background-position: center;
		background-size: cover;
		z-index: 0;
		&__text {
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: start;
			align-items: center;
			height: 100%;
			color: colors.$font-color;
			text-transform: uppercase;
			z-index: 5;
			padding: 10px;
			text-align: center;
			letter-spacing: 3px;

			.main-p {
				font-size: 2rem;
			}

			.under-p {
				position: absolute;
				bottom: 0;
				width: 100%;
				margin: 0;
				padding: 0.7em;
				background-color: rgba(0, 0, 0, 0.45);
				color: colors.$text-color;
				font-size: 3rem;
				font-weight: bold;
			}
		}
		.kirp {
			position: absolute;
			right: 3.5em;
			margin-top: 25em;
			width: 70px;
			z-index: 5;
		}
	}
}

.navbar {
	margin: 0 auto;
	--bs-navbar-padding-y: 0;
	color: colors.$font-color;
	width: 100%;
	position: absolute;
	top: 150px;
	z-index: 1;
	background-color: rgba(255, 255, 255, 0.5);
	border-top: 1px solid white;

	&.sticky {
		position: fixed;
		width: 100%;
		top: 0;
		background-color: rgb(255, 255, 255);
		opacity: 0.9;
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		transition: background-color 0.3s ease, border-bottom 0.3s ease;
	}

	.navbar-collapse {
		flex-grow: 0;
	}

	.container {
		display: flex;
		flex-direction: row-reverse;
	}

	.navbar-nav {
		.nav-link {
			color: colors.$font-color;
			font-size: 1.5rem;
			padding: 1.3em;

			i {
				padding-right: 0.5em;
			}
		}

		.nav-link:hover {
			color: colors.$active-color;
		}
	}

	.navcont {
		display: flex;
		flex-direction: row;
		.nav-link {
			color: colors.$font-color;
			font-size: 1.5rem;
			padding: 0.5em 1em;
			margin: 0;
			i {
				margin-right: 0.5em;
			}

			.fa-envelope {
				font-size: 2.5rem;
				transition: color 0.3s;
				&:hover {
					color: colors.$active-color;
				}
			}
		}
	}

	.navbar-toggler {
		border: none;
		color: colors.$font-color;
		padding: 1.2em;
		margin: 0 1em;
		font-size: 1.8rem;
	}
}

.law {
	text-align: center;
	&__text {
		padding: 10em 0;
		margin: 0 auto;
		width: 85%;

		&-title {
			color: colors.$font-color;
			text-transform: uppercase;
			font-size: 3.2rem;
			font-weight: bold;
			letter-spacing: 3px;
			padding-bottom: 0.5em;
		}

		&-describe {
			color: colors.$font-color;
			margin-top: 2em;
			font-size: 1.4rem;
		}
	}
}

.offer {
	position: relative;
	top: 0;
	background-image: url('../img/lawbg-small.jpg');
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	z-index: 0;

	&__text {
		color: colors.$font-color;
		padding: 7em 0;
		text-align: center;

		&-title {
			color: colors.$font-color;
			text-transform: uppercase;
			font-size: 3.2rem;
			font-weight: bold;
			letter-spacing: 3px;
		}
	}

	&__bg {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(255, 255, 255, 0.7);
		z-index: -2;
	}

	&__box {
		padding-top: 3em;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		&-item {
			width: 90%;
			margin: 3em;
			box-shadow: 3px -3px 6px rgb(72, 72, 72);
			background-color: rgb(246, 246, 246);
			.toggle-btn {
				background-color: transparent;
				border: none;
				width: 100%;
				padding: 2em;
				transition: background 0.3s;
				&:hover {
					background-color: rgb(208, 208, 208);
				}
			}
			h3 {
				text-align: center;
				font-size: 1.8rem;
				text-transform: uppercase;
				color: colors.$font-color;
				span {
					font-weight: bold;
				}

				.fa-solid {
					margin-right: 0.4em;
					transition: transform 0.3s ease;
					&.rotate {
						transform: rotate(90deg);
					}
				}
			}

			.offer-list {
				overflow: hidden;
				max-height: 0;
				transition: max-height 0.3s ease;
				padding: 0 1em;
				margin: 0 1em;

				ol {
					font-size: 1.3rem;

					p {
						text-align: left;
						padding: 0.5em;
						margin: 0.5em 0;
					}
				}

				&-section {
					margin-top: 2em;

					&-item {
						padding: 1em;

						.toggle-btn {
							background-color: transparent;
							border: none;
							width: 100%;
							padding: 0.5em;
							transition: background 0.3s;
							background-color: rgb(250, 250, 250);
							&:hover {
								background-color: rgb(208, 208, 208);
							}
						}
						h4 {
							font-size: 1.3rem;
							margin: 0.5em;
							font-weight: bold;
							text-transform: uppercase;
							color: colors.$font-color;

							.fa-solid {
								margin-right: 0.4em;
								transition: transform 0.3s ease;
								&.rotate {
									transform: rotate(90deg);
								}
							}
						}
						p {
							font-size: 1.2rem;
							text-align: left;
							padding: 0.5em;
							margin: 0.5em 0;

							span {
								font-weight: bold;
								margin-right: 0.3em;
								text-transform: uppercase;
							}
						}

						.textFirst {
							padding-bottom: 0.5em;
							text-align: center;
							font-size: 1.2rem;
						}

						.section-box {
							overflow: hidden;
							max-height: 0;
							transition: max-height 0.3s ease;
						}

						&.open {
							.section-box {
								max-height: 2000px;
							}
						}
					}
				}
			}

			&.open {
				.offer-list {
					max-height: 2000px;
				}
			}
		}
	}
}

.team {
	margin: 0 auto;
	padding: 7em 0;
	&__text {
		text-align: center;

		&-title {
			color: colors.$font-color;
			text-transform: uppercase;
			font-size: 3.2rem;
			font-weight: bold;
			letter-spacing: 3px;
		}
	}

	&__box {
		display: flex;
		flex-direction: column;

		&-firstLaw {
			width: 300px;
			height: 300px;
			background-image: url('../img/mainfoto.png');
			background-size: cover;
			margin: 0.5em;
		}

		&-secondLaw {
			width: 300px;
			height: 300px;
			background-image: url('../img/secondLaw.png');
			background-size: cover;
			background-position: center;
			margin: 0.5em;
		}

		&-text {
			margin-top: 2em;
			width: 100%;

			h3 {
				color: colors.$font-color;
				text-transform: uppercase;
				font-weight: bold;
				font-size: 1.8rem;
				margin-bottom: 0.5em;
			}

			h4 {
				color: colors.$font-color;
				font-size: 1.4em;
				margin-bottom: 2em;
				font-style: italic;
			}

			p {
				color: colors.$font-color;
				font-size: 1.3em;
			}
		}

		&-item {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			margin: 3em;
			padding: 1em;
		}
	}

	.under_text {
		display: flex;
		justify-content: center;
		align-items: center;

		&-info {
			padding-top: 5em;
			text-align: center;
			font-size: 1.3em;
			width: 90%;
			margin: 0 auto;
			color: colors.$second-text;
		}
	}
}

.price {
	position: relative;
	margin: 0 auto;
	padding: 7em 0;
	background-image: url('../img/price-small.jpg');
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	z-index: 0;

	&__text {
		color: colors.$font-color;
		&-title {
			text-align: center;
			text-transform: uppercase;
			font-size: 3.2rem;
			font-weight: bold;
			letter-spacing: 2px;
		}

		&-box {
			display: flex;
			justify-content: center;
			flex-direction: column;
			padding-top: 5em;
			margin: 0 auto;
			&-describe {
				margin: 1em 2em;
				font-size: 1.3em;
			}

			&-first {
				margin: 1em 2em;
				font-size: 1.4em;
			}

			&-info {
				padding-top: 3em;
				margin: 1em 2em;
				font-size: 1.3em;
				text-align: center;
			}

			.bold-text {
				font-weight: bold;
			}
		}
	}

	&__bg {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(255, 255, 255, 0.7);
		z-index: -2;
	}
}

.contact {
	margin: 0 auto;
	padding: 7em 0;
	color: colors.$font-color;
	&__title {
		text-align: center;
		text-transform: uppercase;
		font-size: 3.2rem;
		font-weight: bold;
		letter-spacing: 3px;
		margin-bottom: 2em;
	}

	&__box {
		display: flex;
		align-items: center;
		justify-content: space-around;
		flex-direction: column;
		background-color: rgb(249, 249, 249);
		&-item {
			padding: 1em;

			h3 {
				font-size: 3.2rem;
				text-transform: uppercase;
				letter-spacing: 2px;
				font-weight: bold;
			}

			p {
				margin: 1em;
				font-size: 1.4em;
			}
		}

		.contact-one {
			text-align: center;
			padding-top: 2em;
			p {
				text-transform: uppercase;
			}
		}

		.contact-two {
			p {
				margin: 1em 0;
				align-items: left;
				i {
					margin-right: 1em;
				}
			}
		}
	}

	&__contactUs {
		text-align: center;
		text-transform: uppercase;
		font-size: 3.2rem;
		font-weight: bold;
		letter-spacing: 3px;
		margin-top: 2em;
	}

	.contact__form {
		position: relative;
		color: colors.$font-color;
		margin: 0 auto;
		margin-top: 6.4em;

		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		width: 100%;

		&-box {
			margin: 1em;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;

			input {
				padding: 0.5em;
				font-size: 1.4em;
				width: 90%;
				border: none;
				box-shadow: 0 0 5px rgb(176, 176, 176);
			}

			textarea {
				padding: 0.5em;
				font-size: 1.4em;
				width: 90%;
				border: none;
				box-shadow: 0 0 5px rgb(176, 176, 176);
			}
		}

		&-btn {
			margin: 1em;
			padding: 0.5em 4em;
			font-size: 1.4rem;
			border: none;
			border-radius: 10px;
			background-color: rgb(240, 240, 240);
			transition: background-color 0.3s;
            color: colors.$font-color;
			&:hover {
				background-color: rgb(226, 225, 225);
			}
		}
	}
}

.map {
	iframe {
		width: 100%;
	}
}

footer {
	p {
		padding: 0.5em;
	}
}

@import './small';
@import './large';
